@import 'tailwindcss';

.column-edit {
  width: 80%;
  margin-top: 2rem;
}

.item-funcs {
  height: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  @apply flex items-center;
}

.item-func {
  cursor: pointer;
}

.left-side {
  display: inline-block;
}

.right-side {
  position: absolute;
  display: inline-block;
  right: 0;
}
.style-button {
  @apply rounded-lg px-2 py-1;
  @apply bg-gray-500 hover:bg-gray-600;
  @apply text-white text-sm;
}

.hover-cicle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  @apply flex justify-center items-center;
  @apply hover:bg-gray-300;
}

.item-list {
  width: 100%;
  text-align: center;
}

.item-list tr:hover,
.item-list .clicked {
  @apply bg-zinc-100;
}

.item-list .item {
  font-size: 0.8rem;
  @apply border-t border-zinc-500;
}

.tooltip {
  color: white;
  padding: 3px;
  @apply bg-zinc-600 rounded-md;
}

@media screen and (max-width: 899px) {
  .item-list .price {
    display: none;
  }
}

@media screen and (max-width: 529px) {
  .item-list .price,
  .item-list .sex {
    display: none;
  }
}
