@import 'tailwindcss';

.item-list {
  margin-top: 3rem;
  width: 80%;
  font-size: 0.9rem;
}

.tab span:hover {
  @apply bg-zinc-100;
}

.item-list div {
  @apply grid grid-cols-100;
}

.item-list .item:hover {
  @apply bg-zinc-100;
}

.item-list .tab {
  font-weight: bold;
}

.item-list .item {
  font-size: 0.8rem;
  @apply border-t border-zinc-500;
}

.item-list span {
  @apply flex justify-center items-center;
}
