@import 'tailwindcss';

.main-image img {
  aspect-ratio: 5/1;
}

.items {
  padding: 1rem;
  @apply flex flex-wrap;
}

.card {
  width: clamp(200px, 25%, 300px);
  padding: 10px 1rem 20px;
  flex: 1 1 auto;
}
