.container {
    display: flex;
    min-height: 0;
    height: 100%;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.list {
    flex:1 1 auto;
    overflow-y: scroll;
}