@import "tailwindcss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--main-focus-color);
  background-color: var(--light-mode-color);
  border-radius: 10px 10px 0px 0px;
  padding: 0.5em 1em 0.5em 1em;
}

header > .theme-mark {
  color: black;
}

header.dark {
  background-color: var(--dark-mode-color);
}

header.dark > .theme-mark {
  color: var(--main-focus-color);
}

.tab {
  margin: auto 0.3rem;
  color: var(--main-unfocused-color);
}

.tab.current {
  color: var(--main-focus-color);
  text-decoration: underline;
}

.tab:hover {
  color: var(--main-focus-color);
}
