@import 'tailwindcss';

@theme {
  --color-brand: #ff0000;
}

#root {
  height: 100vh;
  @apply flex flex-col items-center;
  @apply w-full max-w-screen-2xl;
  @apply bg-zinc-900 text-gray-50;
}

body {
  @apply bg-zinc-900;
  min-width: 350px;
}
